/* Jcrop styling */
.jcrop-holder {
  line-height: 0;
  margin-bottom: 15px;
  display: none;
}
.image-hotspots-wrapper .jcrop-hline,
.image-hotspots-wrapper .jcrop-vline {
  background: #24aa98;
}
.image-hotspots-wrapper .jcrop-handle {
  background-color: #ffffff;
  border-color: #24aa98;
}
.toolbar #toolbar-bar {
  z-index: 1000;
}
/* Edit form */
.image-hotspots-wrapper .edit-form-wrapper {
  display: none;
  position: absolute;
  z-index: 50;
  border: 2px solid #959ea7;
  border-radius: 6px;
  padding: 5px;
  background-color: #f2f5f8;
}
.image-hotspots-wrapper .edit-form-wrapper .close-button {
  display: block;
  cursor: default;
  max-width: 200px;
  height: 12px;
  background: url(images/cross.png) no-repeat 100%;
  margin: 12px;
}
.image-hotspots-wrapper .edit-form-wrapper .edit-form {
  margin: 14px 22px;
}
.image-hotspots-wrapper .edit-form-wrapper .form-messages {
  max-width: 200px;
  color: #b83d4b;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.image-hotspots-wrapper .edit-form-wrapper input,
.image-hotspots-wrapper .edit-form-wrapper textarea,
.image-hotspots-wrapper .edit-form-wrapper button {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: normal;
  display: block;
}
.image-hotspots-wrapper .edit-form-wrapper input[name = "hotspots-target"],
.image-hotspots-wrapper .edit-form-wrapper label {
  display: inline-block;
  font-size: 16px;
  padding-left: 8px;
  font-weight: 200;
}
.image-hotspots-wrapper .edit-form-wrapper input,
.image-hotspots-wrapper .edit-form-wrapper textarea {
  max-width: 200px;
  background-color: #ffffff;
  border: 2px solid #acb4bc;
  border-radius: 6px;
  margin-bottom: 10px;
}
.image-hotspots-wrapper .edit-form-wrapper input {
  height: 32px;
}
.image-hotspots-wrapper .edit-form-wrapper textarea {
  width: 100%;
}
.image-hotspots-wrapper .edit-form-wrapper input::-webkit-input-placeholder,
.image-hotspots-wrapper .edit-form-wrapper input::-moz-placeholder,
.image-hotspots-wrapper .edit-form-wrapper input:-moz-placeholder,
.image-hotspots-wrapper .edit-form-wrapper input:-ms-input-placeholder {
  color: #acb4bc;
}
.image-hotspots-wrapper .edit-form-wrapper button {
  color: #ffffff;
  background-color: #24aa98;
  padding: 9px 20px;
  border: none;
  border-radius: 6px;
  display: inline-block;
}
/* Action lables */
.image-hotspots-wrapper .labels .label-editor {
  display: inline-block;
}
.image-hotspots-wrapper .action {
  color: #65abd0;
  background-color: #ffffff;
  border: 2px solid #65abd0;
  border-radius: 6px;
  margin-bottom: 5px;
  padding: 9px 20px;
  display: inline-block;
  cursor: default;
}
.image-hotspots-wrapper .action.edit {
  margin-right: 10px;
}
.image-hotspots-wrapper .action.selected {
  color: #ffffff;
  background-color: #65abd0;
}
.image-hotspots-wrapper .add-button {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
  background-color: #24aa98;
  border: none;
  border-radius: 6px;
  margin-bottom: 15px;
  display: inline-block;
  cursor: default;
}
.ajax-progress-throbber {
  margin-left: 10px;
  display: inline-block;
}
.ajax-progress-throbber .throbber {
  font-size: 14px;
  padding: 1px 8px 2px;
}
